{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Register.</h2>
{% endblock  %}

{% block content %}
    
    <form class="form" action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% bootstrap_form form %}

        {% buttons %}
            <button class="btn btn-primary" name="submit">Register</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}">
    </form>
{% endblock %}
